form {
    text-align: center;
}

.text-box {
    border: solid 1px black;
    width: 460px;
    height: 52px;
    margin: 5px;
    font-family: Montserrat;
    font-size: 15px;
    outline: none;
}

.message-text-box {
    border: solid 1px black;
    width: 460px;
    height: 151px;
    margin: 5px;
    font-family: Montserrat;
    font-size: 15px;
    outline: none;
}

button {
    padding: 15px;
    width: 100px;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 15px;
    background: black;
    border: black;
    color: white;
    margin: 20px;
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
    transition: all 0.2s ease-in-out;
}

button:hover{
    background: #282c34;
}